body {
  margin: 0px;
  background-color: rgb(11, 11, 28);
  height: 3000px;
}
.portfolio-container {
  display: flex;
  flex-direction: column;
}

.portfolio-body {
  display: flex;
  padding-left: 40px;
}
.intro > div {
  color: white;
  font-family: pacifico;
  font-size: 80px;
  opacity: 1;
}

.portfolio-info .name {
  font-family: roboto, Arial;
  font-size: 30px;
  color: white;
  font-weight: 1000;
  padding-bottom: 30px;
}
.portfolio-info div {
  font-family: roboto, Arial;
  font-size: 20px;
  color: white;
  font-weight: 1000;
}
.portfolio-image img {
  height: 500px;
}
