
.portfolio-header {
  display: flex;
  background-color: transparent;
  height: 60px;
  padding-top: 20px;
  padding-left: 60px;
}
.portfolio-header div {
  color: white;
}

.header-A {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding-right: 70px;
  white-space: nowrap;
}
.header-A div {
  font-family: Pacifico;
  font-size: 30px;
}
.header-A span,
.intro span {
  color: rgba(255, 255, 92, 0.84);
}
.header-B {
  background-color: rgba(112, 128, 144, 0.068);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0px;
  padding-right: 0px;
  width: 800px;
  min-width: 500px;
  max-width: 700px;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 9px;
 box-shadow: 1px 0 4px 2px rgba(18, 62, 56, 0.785);
}
.b-class {
  display: flex;
}
.b-class div {
  padding-right: 13px;
  font-family: roboto, Arial;
  font-size: 14px;
  font-weight: 500;
  transition: transform 0.4s ease;}

.b-class div:hover{
  transform: translateY(4px) scale(1.1)
}
.header-C {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-class {
  display: flex;
}
.c-class button {
  font-family: roboto, Arial;
  border: none;
  height: 40px;
  width: 100px;
  background-color: rgba(215, 215, 136, 0.84);
}


