body {
  margin: 0px;
  background-color: rgb(11, 11, 28);
  height: 3000px;
}
.portfolio-container {
  display: flex;
  flex-direction: column;
}
.portfolio-header {
  display: flex;
  background-color: transparent;
  height: 60px;
  padding-top: 20px;
  padding-left: 60px;
}
.portfolio-header div {
  color: white;
}

.header-A {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding-right: 70px;
  white-space: nowrap;
}
.header-A div {
  font-family: Pacifico;
  font-size: 30px;
}
.header-A span,
.intro span {
  color: rgba(255, 255, 92, 0.84);
}
.header-B {
  background-color: rgba(112, 128, 144, 0.068);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0px;
  padding-right: 0px;
  width: 800px;
  min-width: 500px;
  max-width: 700px;
  white-space: nowrap;
  overflow: hidden;
}
.b-class {
  display: flex;
}
.b-class div {
  padding-right: 13px;
  font-family: roboto, Arial;
  font-size: 14px;
  font-weight: 500;
}
.header-C {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-class {
  display: flex;
}
.c-class button {
  font-family: roboto, Arial;
  border: none;
  height: 40px;
  width: 100px;
  background-color: rgba(255, 255, 92, 0.84);
}

.portfolio-body {
  display: flex;
  padding-left: 40px;
}
.intro div {
  color: white;
  font-family: pacifico;
  font-size: 80px;
}
.portfolio-body-info {
  width: 350px;
  padding-top: 50px;
}
.portfolio-info .name {
  font-family: roboto, Arial;
  font-size: 30px;
  color: white;
  font-weight: 1000;
  padding-bottom: 30px;
}
.portfolio-info div {
  font-family: roboto, Arial;
  font-size: 20px;
  color: white;
  font-weight: 1000;
}
.portfolio-image img {
  height: 500px;
}
